# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint

# User-specific Xcode data
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/

# macOS
.DS_Store
